	<div style="background:#999; font-size:22px; text-align:center; line-height:50px; color:#FFF; font-weight:bold;">
		Sales Commission Tool
    </div>
	<!-- start header -->
	<header>
		
		<div id="headerMenu" class="container">
				<div class="navbar navbar-static-top">
					<div class="navigation">
						<nav>
						<ul class="nav topnav bold">
							<li class="dropdown"><a href="#">Master data <i class="icon-angle-down"></i></a>
							<ul class="dropdown-menu bold">
								<li><a href="../../pages/employee/EmployeeListComponent.html">Employee</a></li>
								<li><a href="../../pages/orgStructure/OrgStructure.html">Role</a></li>
							    <li><a href="../../pages/compRule/CompRule.html">Comp Rule</a></li>
								<li><a href="../../pages/rollup/RollupRule.html">Credit Split Rule</a></li>
								</ul>
							</li>
							<li class="dropdown">
							<a href="#">Booking <i class="icon-angle-down"></i></a>
							<ul style="display: none;" class="dropdown-menu bold">
								<li><a href="../../pages/orders/OrderManagement.html">Orders/Booking</a></li>
								
			
							</ul>
							</li>
							<li class="dropdown">
							<a href="#">Compensation Plan <i class="icon-angle-down"></i></a>
							<ul class="dropdown-menu bold">
								<li><a href="../../pages/compPlan/CompPlan.html">Assign Compensation Plan</a></li>
								
							</ul>
							</li>
							<li class="dropdown">
							<a href="#">Compensation <i class="icon-angle-down"></i></a>
							<ul style="display: none;" class="dropdown-menu bold">
								<li><a href="../../pages/compReport/CompReport.html">Employee Compensation Report</a></li>
						
							</ul>
							</li>
							
						</ul>
						</nav>
					</div>
					<!-- end navigation -->
				</div>
		</div>
	</header>	
	<!-- end header -->
				