							<table border="1">

								<tr>
									<td>Param 1</td>
									<td>10000 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value=""></input>Or,<br/>
											<select>
												<option value="volvo">-None-</option>
												<option value="volvo" selected="true">Employee Sales Target</option>
												<option value="saab">Employee Order Count Target</option>
												<option value="mercedes">Promotional Product Booking Target</option>
											</select>
									</td>
								</tr>
								<tr>
									<td>Param 2</td>
									<td>Direct &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
									<td>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="Travel"></input> Or,<br/>
											<select>
												<option value="volvo" selected="true">-None-</option>
												<option value="volvo">Employee Sales Target</option>
												<option value="saab">Employee Order Count Target</option>
												<option value="mercedes">Promotional Product Booking Target</option>
									</td>
								</tr>
							</table>
