							<table border="1">
								<tr>
									<td>Parameter</td>
									<td>Default value</td>
									<td>Overwrite</td>
								</tr>
								<tr>
									<td>MIN_SALES</td>
									<td>10000</td>
									<td><input type="text" value=""></input> Or,
											<select>
												<option value="volvo">-None-</option>
												<option value="volvo" selected="true">Employee Sales Target</option>
												<option value="saab">Employee Order Count Target</option>
												<option value="mercedes">Promotional Product Booking Target</option>
											</select>
									</td>
								</tr>
								<tr>
									<td>SALES_MODE</td>
									<td>Direct</td>
									<td><input type="text" value="Travel"></input> Or,
											<select>
												<option value="volvo" selected="true">-None-</option>
												<option value="volvo">Employee Sales Target</option>
												<option value="saab">Employee Order Count Target</option>
												<option value="mercedes">Promotional Product Booking Target</option>
									</td>
								</tr>
							</table>
