	<table>
		<tr><td><h2>Set Targets</h2></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>View <a href ="#">All</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href ="#">Current</a></td>
		</tr>
	</table>
	<table border="1">
		<thead>
			<tr>
				<td>Parameter Name</td>
				<td>Start Date</td>
				<td>End Date</td>
				<td>Repeat Frequency</td>
				<td>Value</td>
			</tr>
		</thead>
			<tr>
				<td>
					<select>
						<option value="volvo" selected="selected">MIN_SALES</option>
						<option value="volvo">SERVICE_AMOUNT</option>
						<option value="saab">PROMOTIONAL_SALES</option>
						<option value="mercedes">NEW_PRODUCT_SALES</option>
						<option value="saab">SALE_REMOTELY</option>
					</select>
				</td>
				<td><input type="text" size="11"></input>
						<img onclick="window.open('popups/calendar.html', 'cal', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=no, resizable=no, height=200, width=200')" src="../../image/calendar.png" style="width:30px;height:20px;"/>
				</td>
				<td><input type="text" size="11"></input>
											<img onclick="window.open('popups/calendar.html', 'cal', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=no, resizable=no, height=200, width=200')" src="../../image/calendar.png" style="width:30px;height:20px;"/>
				</td>
				<td>
					<select>
						<option value="volvo" selected="selected">-None-</option>
						<option value="volvo">Weekly</option>
						<option value="saab">Fortnightly</option>
						<option value="mercedes">Monthly</option>
						<option value="saab">Quarterly</option>
						<option value="saab">Annualy</option>
					</select>
				</td>
				<td><input type="text" size="10"></input>
				</td>
				<td><a href="#">Delete</a>
				</td>
			</tr>
			<tr>
				<td colspan="6" align="right"><a href="#">Add New</a></td>
			</tr>
	</table>
	